body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 3px 0 130px 0;
}

.logo, .menu {
  display: inline-block;
}

.logo {
  position: relative;
  padding: 37px 0 37px 44px;
  font: bold 24px/31px pt_serifregular, arial, helvetica, sans-serif;
  letter-spacing: 1px;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.menu {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.menu__item {
  position: relative;
  margin-right: 27px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0.5vw;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s width .5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.hamburger-menu {
  display: none;
}

.main {
  padding: 0 63% 200px 0;
  background: top right no-repeat url(img/mainImg.svg);
  background-size: 770px 657px;
}

.main__title {
  padding-top: 77px;
  margin: 0 0 34px 0;
  font: bold 66px/88px pt_serifregular, arial, helvetica, sans-serif;
  letter-spacing: 3px;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__subtitle {
  margin: 0 0 41px 0;
  font: 22px/26px Roboto, arial, helvetica, sans-serif;
  max-width: 450px;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.main__button {
  display: inline-block;
  font: 18px/22px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  width: 232px;
  height: 21px;
  background: #0056EC;
  padding: 18px 22px;
  text-decoration: none;
  border-radius: 4px;
  transition: all 500ms ease;
}

.main__button:hover {
  animation: bounce 1s;
}

@media (min-width: 1366px) and (max-width: 1599px) {
  .wrapper {
    width: 68%;
  }

  .header {
    margin: 1px 0 88px 0;
  }

  .logo {
    line-height: 32px;
  }

  .menu {
    margin-top: 11px;
  }

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .menu__item:last-child {
    margin-right: 0.3vw;
  }

  .main {
    padding: 0 51% 50px 0;
    background-size: 514px 439px;
  }

  .main__title {
    padding-top: 20px;
    font: bold 50px/66px pt_serifregular, arial, helvetica, sans-serif;
    letter-spacing: 2px;
  }

  .main__subtitle {
    margin: 0 80px 40px 0;
    font: 18px/22px Roboto, arial, helvetica, sans-serif;
    max-width: 500px;
  }

  .main__button {
    font: 14px/16px Roboto, arial, helvetica, sans-serif;
    width: 177px;
    height: 16px;
    padding: 14px 16px;
  }
}

@media (min-width: 769px) and (max-width: 1365px) {
  .wrapper {
    width: 91%;
  }

  .header {
    margin: 1px 0 88px 0;
  }

  .logo {
    line-height: 32px;
  }

  .menu {
    margin-top: 11px;
  }

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .menu__item:last-child {
    margin-right: 0.1vw;
  }

  .main {
    padding: 0 51% 50px 0;
    background-size: 514px 439px;
  }

  .main__title {
    padding-top: 20px;
    font: bold 50px/66px pt_serifregular, arial, helvetica, sans-serif;
    letter-spacing: 2px;
  }

  .main__subtitle {
    margin: 0 80px 40px 0;
    font: 18px/22px Roboto, arial, helvetica, sans-serif;
    max-width: 500px;
  }

  .main__button {
    font: 14px/16px Roboto, arial, helvetica, sans-serif;
    width: 177px;
    height: 16px;
    padding: 14px 16px;
  }
}

@media (max-width: 768px) {
  .logo__text {
    display: none;
  }

  .menu {
    display: none;
  }

  .hamburger-menu {
    display: contents;
  }

  .wrapper {
    width: 88%;
  }

  .header {
    margin-bottom: 10px;
  }

  .main {
    text-align: center;
    padding: 56% 0 0;
    background-size: 85%;
    background-position: top center;
  }

  .main__title {
    margin-bottom: 30px;
    font: bold 30px/40px pt_serifregular, arial, helvetica, sans-serif;
    letter-spacing: 1px;
  }

  .main__subtitle {
    margin-bottom: 24px;
    padding: 0 27px 0 33px;
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    padding: 14px 16px;
    width: 176px;
    height: 18px;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 32px;
    right: 24px;
    width: 25px;
    height: 17px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0056EC;
    transition: opacity .5s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    text-align: center;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 375px;
    height: 100%;
    margin: 0;
    padding: 186px 0;
    list-style: none;
    background-color: #FFF;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition: opacity .5s;
  }

  .menu__item {
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
    color: #000;
    font: 500 30px/35px Roboto, arial, helvetica, sans-serif;
    text-decoration: none;
    transition: opacity .5s;
    transition: transform 1s;
  }

  .menu__item:hover {
    opacity: 0.5;
    transform: scale(1.5);
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
}
